.lead__list-image {
  display: inline;
  vertical-align: middle;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .lead__list-image {
    margin-right: 5px;
    height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .lead__list-image {
    height: 17.5px;
  }
}