.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    margin-left: auto;
  }

  @media screen and (max-width: 768px) {
    .header__burger {
      display: flex;
    }
}