.form__image {
  flex: 4;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.form__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 768px) {
  .form__image {
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}